/* CSS Document */
#secondaryContent {
  background-color:#FFCC00;
  height: 10px;
  width: 400px;
}

#secondaryContent1 {
  background-color:#ECE9D8;
  width: 400px;
}

#secondaryContent2 {
  background-color:##FFCC00;
}
